body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    height: 300px;
    width: 300px;
    border: solid black 1px;
    border-radius: 50%;
    position: relative;
}
.t {
    position: relative;
    height: 4px;
    width: 10px;
    background-color: black;
    margin: 1px;
}
.t:nth-child(3n) {
    background-color: red;
}
.hrhand {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 125px;
    /* transform: rotate(-90deg);  */
    transform-origin: 0;
    transform-origin: 0% 50%;
    transform-origin: 0px 0px;
    background-color: black;
}
.minhand {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: rotate(60deg); */
    transform-origin: 0% 50%;
    height: 3px;
    width: 125px;
    background-color: black;
}
.sechand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(90deg);
    /* transform: translate(-50%,-50%); */
    transform-origin: 0;
    height: 2px;
    width: 125px;
    background-color: black;
}
.middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.timecontainer{
    padding: 10px;
    margin-top: 10px;
    /* height: 75px; */
    width: 300px;
    text-align: center;
    /* background-color: aqua; */
    font-size: 3rem;
}